:root {
    --accent-color: #404040;
    --accent-hover: #505050;
    --accent-color-fg: #ffffff;
    --element-border: #cccccc;
    --element-hover: #d9d9d9;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px;
    text-align: center;
    background: var(--accent-color);
    color: var(--accent-color-fg);
    border-radius: 0 0 15px 15px;
    margin: 0 20px 0 20px;
}

header > img {
    height: 60px;
}

header > span {
    display: block;
    margin-top: 20px;
    font-size: 18pt;
    font-weight: bold;
}

main {
    padding: 20px;
}

a {
    color: var(--accent-color);
    text-decoration: underline;
}

span.header {
    display: block;
    font-size: 18pt;
    font-weight: bold;
    color: var(--accent-color);
    border-bottom: 1px solid var(--element-border);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

div.IdPSelectPreferredIdPButton {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
}

img.IdPSelectIdPImg {
    width: 140px;
}

#idpSelectIdPEntryTile, #idpSelectIdPListTile {
    padding-top: 15px;
}

#idpSelect {
    text-align: center;
}

/* Top level is idpSelectIdPSelector */
#idpSelectIdPSelector
{
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#idpSelectIdPSelector form {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Next down are the idpSelectPreferredIdPTile, idpSelectIdPEntryTile & idpSelectIdPListTile */
#idpSelectPreferredIdPTile {
    padding-bottom: 50px;
}

#idpSelectPreferredIdPTileNoImg
{
    height:60px;
}

div.IdPSelectTextDiv{
    display: none;
}

div.IdPSelectautoDispatchTile {
    display: block;
}

/*
 * Force the size of the selectors and the buttons
 */
#idpSelectInput {
    width: calc(100% - 20px - 4px);
}

#idpSelectSelector {
    width: 100%;
}

#idpSelectInput, #idpSelectSelector
{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--element-border);
}

#idpSelectInput:focus, #idpSelectSelector:focus {
    outline-color: var(--accent-color);
}

#idpSelectSelector > option {
    height: 50px;
}

ul.IdPSelectDropDown {
    font-size: 12pt;
    list-style: none;
    padding-left: 0px;
    margin-top: 0;
    margin-left: -2px;
    border: 2px solid var(--element-border);
    background-color: var(--accent-color-fg);
    z-index: 6;
    position: absolute;
    border-radius: 0 0 10px 10px;
}

ul.IdPSelectDropDown li {
    cursor: default;
    padding: 5px 10px;
    cursor: pointer;
}

ul.IdPSelectDropDown li.IdPSelectCurrent {
    background-color: var(--element-hover);
    color: #1a1a1a;
}

#idpSelectSelectButton, #idpSelectListButton {
    display: block;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    background: var(--accent-color);
    color: var(--accent-color-fg);
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
}

#idpSelectSelectButton:hover, #idpSelectListButton:hover {
    background: var(--accent-hover);
}